// Colours
$bodyColour: #46412A;
$headingColour: darken($bodyColour, 5%);
$linkColour: rgb(148, 10, 40);
$hoverColour: darken($linkColour, 10%);
$captionColour: lighten($headingColour, 40%);
$white: #fff;

$backgroundColour: #a2c8c9;
$codeBackgroundColour: darken($backgroundColour, 5%);
